.hero {
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    gap: 5rem;
    min-height: 100vh;
}

.hero h1 {
    font-size: 5rem;
    font-weight: 500;
}

.hero .hero_text {
    font-size: 1.8rem;
    font-weight: 400;
    max-width: 100rem;
    text-align: justify;
}

.area51 {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container .area_text {
    max-width: 60%;
    font-weight: 400;
    text-align: justify;
}

.ufo_img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: -20rem;
}

.reg_btn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    padding: 0.7rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #43a4c7;
    font-weight: 500;
    font-size: 2rem;
}

.date_time {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ufo_img img {
    width: 43rem;
}

.rules {
    padding: 0 5rem;
}

.rules ul li img {
    width: 2rem;
}

@media screen and (max-width:900px) {
    .container p {
        font-weight: 500;
    }

    .ufo_img img {
        width: 35rem;
    }

    .ufo_img {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        right: 0;
        top: -15rem;
    }
}

@media screen and (max-width:600px) {
    .hero {
        padding-top: 15rem;
    }

    .container .area_text {
        max-width: 100%;
        font-weight: 500;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .ufo_img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        top: 0rem;
    }

    .ufo_img img {
        width: 30rem;
    }
}