.special_container{
    padding: 5rem 0;
    display: flex;
    justify-content: center;
     align-items: center;
     width: 100%;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    
}
.prizes_container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5rem;
    margin: 0 auto;
}
.prize_card{
    min-height: 40rem;
    width: 35rem;
    border-radius: 35px;
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: center;
}
.card_title{
    display: flex;
    color: #333;
    justify-content: center;
    align-items: center;
    background: #45E3F1;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.card_title p{
    font-weight: 700;
    font-size: 3rem;
}
.card_details{
    background: linear-gradient(180deg, rgba(69, 227, 241, 0.83) 0%, #D735FF 100%);
    padding: 2rem;
    width: 100%;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.card_details{
    list-style: none;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card_details li{
    position: relative;
   
}
.card_details li::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    vertical-align: middle;
    top: 9px;
    left: -20px;
}
.card_details p{
font-weight: 400;
font-size: 2rem;
}

@media screen and (max-width:900px) {
    .prizes_container{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:600px) {
    .prizes_container{
        grid-template-columns: auto;
    }
}