.card, .card_back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card_back{
    display: grid;
    grid-template-rows: 20% 80%;
    padding-left: 1rem;
}
.card_back ul{
    margin: 0 2rem;
    text-align: left;
    font-weight: 400;
}
.card_back ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card_back ul p{
   font-size:1.8rem;
    font-weight: 400;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30rem;
}

.image img {
    height: 28rem;
    width: 100%;
}
.title{
    min-height: 5rem;
}
.title h3 {
    font-size: 2.5rem;
}

.subheading p {
    font-weight: 500;
    text-align: left;
    margin-top: 1rem;
    font-style: italic;
}

@media screen and (max-width:900px) {
    .card {
        padding: 3rem 2rem;
    }

    .image img {
        height: 20rem;
        width: 100%;
    }
}